{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="index.css">
{% endblock %}

<div class="user-menu">
    {% if user %}
        <span>{{ user.name }}님 환영합니다!</span>
        <a href="/logout" class="login-button">로그아웃</a>
    {% else %}
        <button class="login-button" onclick="location.href='/login'">로그인</button>
    {% endif %}
</div>

{% block best_content %}
    <div class="post-list">
        {% if list %}
            {% for item in list %}
            <div class="post-item text-box">
                <h3>{{ item.title }}</h3>
                
                <p class="index-contents">{{ item.contents | safe }}</p>
                
                <div class="post-info" style="font-size: 0.8em; color: #888; margin-top: 10px;">
                    <span>작성자: <strong>{{ item.author if item.author else "익명" }}</strong></span> | 
                </div>
                <hr>
            </div>
            {% endfor %}
        {% else %}
            <p>작성된 글이 없습니다.</p>
        {% endif %}
    </div>
{% endblock %}

{% block fest_content %}
    {% if list %}
        {% for data in list %}
        <div class="text-box">
            <p>{{ data.title }}</p>
            <p class="index-contents">{{ data.contents | safe }}</p>
        </div>
        {% endfor %}
    {% endif %}
{% endblock %}