body{
    background-color: #f9f9f9;
}
.detail {
        max-width: 800px;     
        padding: 40px;
        background-color: white;
        border-radius: 8px;
        border: 1px solid #000000;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        height: auto;
        overflow: hidden; 
        margin-left: 35px;
        margin-top: 35px;
        padding-bottom: 50px;
}
.main-button{
    background-color: #fff;
    outline-width: 0;
    font-size: x-large;
    font-weight: bold;
    border-radius: 4px;
    background-color: #007AFF;
    color: white;
    border: 2px solid #007AFF;
    margin-left: 21.5cm;
    cursor : pointer;
    padding: 6px 8px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 14px;
}