.text-box{
      border-bottom: 1px solid gray
}

.text-box{
      border-bottom: 1px solid gray
}
.index-title{
    font-size: x-large;
    font-weight: bold;
}
.index-contents{
    color: rgb(194, 190, 190);
}
