body {
  margin: 0;
  font-family: 'Inter', sans-serif; 
  align-items: center;
  justify-content: center;
}

.grid-container {
  display: grid; 
  grid-template-areas:
    "header header header"
    "main main aside"
    "footer footer footer";
  grid-template-columns: 1fr 1fr 400px; 
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

header {
  grid-area: header;
  background-color: #FFFFFF;
  padding: 20px;
  border-bottom: 1px solid #EEEEEE
  
}

main {
  grid-area: main;
  background-color: #FFFFFF;
  padding: 25px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05)
}

aside {
  grid-area: aside;
  background-color: white;
  padding: 25px;
  border: none;
  margin: 5px 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05)
}

footer {
  grid-area: footer;
  background-color: #F7F7F7;
  color: black;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-top: 1px solid #EEEEEE;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dgblog{
    color: #007AFF;
    font-weight: bold;
    font-size: x-large;
}

.tdn{
  text-decoration: none;
}

.blog-logo {
    margin: 0;
}

.search-container{
    display: flex;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid gray;
    margin: 1px;
}   

.search-box{
  border: none;
}

.search-container select{
  border: none;
  border-right: 1px solid gray;
  background-color: #f0f0f0;
}

.search-container input.search-input{
  border: none;
  flex-grow: 1;
  outline: none;
}

.search-container button.search-button{
  border: none;
  cursor: pointer;
} 

.bt {
    padding: 8px 12px;
    border: none;
    background-color: #4300FF;
    color: white;
    border-radius: 4px; 
    cursor: pointer;
}
.sns{
  font-size: large;
  font-weight: bold;
  margin-top: 1px;
  margin-bottom: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
  
}
.sns-1{
  margin-top: 1px;
  padding-top: 1px;
}
ul {
    list-style: none;
    padding: 0;
}
#post-list-section h2 {
    margin-top: 0;
} 

#post-list-section .post-list {
    margin-bottom: 20px;
}

#wrtie-btn {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

aside{
  text-decoration: none;
}
.login-button{
  border: #757575;
  background-color: #007AFF;
  margin: 0px;
  padding: 9px 20px;
  width: auto;
  border-radius: 3px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;

}
.login-button:hover{
  border: #757575;
  background-color: #007AFF;
  margin: 0px;
  padding: 9px 20px;
  width: auto;
  border-radius: 3px; 
  color: #ffffff;
   font-weight: bold;


}

.log-in-container{
  margin: 0px;
  padding: 2px;
  display: flex;
  text-align: right;
  justify-content: flex-end;
}
.side{
    text-align: center;
}


.button1 {
  display: inline-flex; 
  align-items: center;   
  padding: 22px 53px;    
  background-color: #FEE2E2; 
  border: 1px solid #FEE2E2; 
  border-radius: 5px;   
  text-decoration: none; 
  color: black;   
  font-size: large;    
  white-space: nowrap;   
  margin-bottom: 24px;
}
.button2 {
  display: inline-flex; 
  align-items: center;   
  padding: 22px 53px;    
  background-color: #E8F1FC; 
  border: 1px solid #E8F1FC; 
  border-radius: 5px;   
  text-decoration: none; 
  color: black;  
  font-size: large;         
  white-space: nowrap;   
  margin-bottom: 24px;
}
.button3 {
  display: inline-flex; 
  align-items: center;   
  padding: 22px 53px;    
  background-color: #FCE7F3;
  border: 1px solid #FCE7F3;  
  border-radius: 5px;   
  text-decoration: none; 
  color: black;           
  font-size: large;
  white-space: nowrap;   
  margin-bottom: 24px;
}

.button1 img {
  width: 24px;   
  height: 24px;  
  margin-right: 8px; 
}
.button2 img {
  width: 24px;   
  height: 24px;  
  margin-right: 8px; 
}
.button3 img {
  width: 24px;   
  height: 24px;  
  margin-right: 8px; 
}

.button:hover {

  background-color: #e0e0e0;
}
.post-item {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 2px;
    padding: 4px;
}
.post-list{ 
    padding: 10px;

}
.post-title-link{
  text-decoration: none;
  color: black;
  font-size: larger;
  font-weight: bolder;
}
.write-button{
  background-color: #007AFF;
  color: white;
  border: 1px solid #007AFF;
  padding: 8px 13px;
  text-decoration: none;
  font-size: larger;
  border-radius: 3px;
  font-weight: bold;
}

.search-box{
  padding: 20px 12px;
}
.search-button{
  display: flex;
  background-color: #007AFF;
  color: white;
  border: 1px solid #007AFF;
  border-radius: 3px;
  font-size: larger;
  font-weight: bold;
  padding: 7px 18px;
}
.write-button:hover, .login-button:hover, .search-button:hover{
  background-color: #005FCE;
}
.best{
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;  
  
}
.ex-recent{
  border-bottom: 1px solid gray;
}
.ex-rname, .best-rname{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: larger;
}
.h2{
  font-weight: 600;
}
.ex-other, .best-other {
  color: gray;
}
.sssss, .ssssss {
  color: black;
}
.recent, .aa{
  font-size:xx-large ;
  font-weight: bold;
}
.ill{
  border: 1px solid black;
  padding: 30px 40px;
  border-radius: 4px;
}
.ill2{
  font-weight: bold;
  font-size: larger;
}
.date1,.date2,.date3{
  font-weight: bold;
  font-size: larger;
}
